:root {
  --viewWidth: 100vw;
}

* {
  box-sizing: border-box;

  /* border: 1px dotted blue; */
}

html {
  font-size: 62.5%;
}

/* this is a flex contain that will center the panel for questions */
body {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 50% auto;

  font-family: "Scada", sans-serif;
}

header {
  /* this is visibility = hidden initially, so it keeps the positioning of the .openingPanel. Then it will display when the .openingPanel is hidden - controlled by JS. */
  position: sticky;
  top: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
  background: beige;
  border-bottom: 1px solid black;
}

.sizeContainer {
  min-width: var(--viewWidth);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  height: 6%;
}

.logo {
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  /* min-width: var(--viewWidth); */
}

/* common panel settings */
.panel {
  min-width: var(--viewWidth);
  background: beige;
}

/* common button settings */
.button {
  opacity: 0.8;
  transition: 0.2s;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
}

.button:hover {
  opacity: 1;
}

.button:active {
  box-shadow: 0 0.5rem #666;
  transform: translateY(0.2rem);
}

/* opening panel settings */
.opening {
  /* flex: 0 1 auto; */
  padding: 10rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2.4rem;
}
.opening p {
  font-size: 1.5rem;
}
.start {
  color: #c0c0c0;
  /* background-color: red; */
  background: linear-gradient(to bottom right, red, rgb(247 51 51));
  box-shadow: 0.5rem 1rem 2rem rgb(247 124 124) inset,
    0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
}

.opening .start {
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 8rem;
  border-radius: 50%;
  border: none;
}

.opening .viewHighScores {
  font-size: 2.4rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.viewHighScores {
  background: linear-gradient(
    to bottom right,
    rgb(26 162 26),
    rgb(121 252 121)
  );
  box-shadow: 0.5rem 1rem 2rem rgb(121, 252, 121) inset,
    0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
}

.quiz,
.endGame,
.highScore {
  display: none;
}

/* quiz panel settings */
.quiz {
  padding: 2rem;
  font-size: 2.4rem;
}

.question,
.answers {
  background: whitesmoke;
  border: 1px solid black;
  padding: 1rem;

  margin-bottom: 5rem;
}

.question {
  display: flex;
}

#questionNum {
  margin-right: 2rem;
}

#questionText,
li {
  /* added pre so that I can have line breaks in my questions/answers */
  white-space: pre;
}

.answers {
  list-style-type: none;
}

.answers li {
  background: linear-gradient(to bottom right, transparent, #80808044);
  margin: 1rem 0;
}

.endGame {
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;

  font-size: 2.4rem;
}

#gameOver {
  font-size: 8rem;
  color: red;
  margin-bottom: 1rem;
}

.endGame p {
  text-align: center;
}

.gotHighScore {
  display: none;
}

.gotHighScore input {
  display: inline-block;
  size: 4;
}

/* ToDo: make sticky so the buttons remain on the screen but the gotHighScore scrolls off */
.keepHere {
  width: var(--viewWidth);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 4rem;
}

/* .highScore  */

/******** Media Queries **********/
@media screen and (min-width: 376px) {
  .timer::after {
    content: " remaining";
  }
}

@media screen and (min-width: 769px) {
  :root {
    --viewWidth: 60vw;
  }

  .panel {
    border: 1px solid black;
  }

  .opening h1::before,
  .opening h1::after {
    content: "✨";
  }
}
