:root {
  --viewWidth: 100vw;
}

* {
  box-sizing: border-box;

  /* border: 1px dotted blue; */
}

html {
  font-size: 62.5%;
}

/* this is a flex contain that will center the panel for questions */
body {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 50% auto;

  font-family: "Scada", sans-serif;
}

header {
  /* this is visibility = hidden initially, so it keeps the positioning of the .openingPanel. Then it will display when the .openingPanel is hidden - controlled by JS. */
  position: sticky;
  top: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
  background: beige;
  border-bottom: 1px solid black;
}

.sizeContainer {
  min-width: var(--viewWidth);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  height: 6%;
}

.logo {
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  /* min-width: var(--viewWidth); */
}

.panel {
  min-width: var(--viewWidth);
  background: beige;
}

.opening {
  /* flex: 0 1 auto; */
  padding: 10rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2.4rem;
}

.startButton {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 8rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #c0c0c0;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0.5rem 1rem 2rem rgb(250, 134, 134) inset,
    0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
}

.startButton:active {
  box-shadow: 0 0.5rem #666;
  transform: translateY(0.2rem);
}

.quiz {
  display: none;

  padding: 2rem;
  font-size: 2.4rem;
}

.question,
.answers {
  background: whitesmoke;
  border: 1px solid black;
  padding: 1rem;

  margin-bottom: 5rem;
}

.question {
  display: flex;
}

#questionNum {
  margin-right: 2rem;
}

.answers {
  list-style-type: none;
}

/******** Media Queries **********/
@media screen and (min-width: 376px) {
  .timer::after {
    content: " remaining";
  }
}

@media screen and (min-width: 769px) {
  :root {
    --viewWidth: 60vw;
  }

  .panel {
    border: 1px solid black;
  }

  .opening h1::before,
  .opening h1::after {
    content: "✨";
  }

  .startButton {
    opacity: 0.9;
    transition: 0.2s;
  }

  .startButton:hover {
    opacity: 1;
  }
}
